.promo {
  background-color: #edf2f6;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 90px;
  //   overflow: hidden;
  transition: 0.5s;
  &:hover {
    box-shadow: 0px 0px 10px 0 rgba(226, 226, 226, 0.59);
    img {
      transform: scale(1.2);
    }
  }
  img {
    transition: 0.5s;
    transform: scale(1);
  }
  &__title {
    font-size: 28px;
    font-weight: 700;
    color: #070c11;
    max-width: 50%;
  }
}

@media (max-width: 1024px) {
  .promo {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .promo {
    &__title {
      font-size: 16px;
    }
    padding: 9px 9px 9px 30px;
  }
}
