@import "./main.scss";

.page {
  &__category {
    background-color: #edf2f6;
    padding: 40px;
    margin: 40px 0;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    a {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-bottom: 30px;
      margin-right: 80px;
      &:last-child {
        margin-right: 0;
      }
      img {
        margin-right: 10px;
      }
    }
  }
}
